__pycache__/

# Python environment
.venv
.env

# Ultralytics output
runs/

# Data (videos)
*.mp4
*.MOV
*.avi
*.mkv
*.webm
*.flv
*.wmv
*.m4v
*.m4a
*.m4b
*.m4p

# Parking Management output
*.jsonl
inferred_frames/
